
   <!-- <div class="flex flex-col h-screen ">
    <footer class="bg-white shadow mt-auto dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xxl p-4 md:flex md:items-center md:justify-between">
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Copyright © 2023 India Health Link - All Rights Reserved.</span>
        </div>
    </footer>
   </div> -->

<footer
  class="bg-neutral-200 text-center dark:bg-gray-900 border-gray-200 lg:text-left">
  <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
    Copyright © 2023 India Health Link - All Rights Reserved.
  </div>
</footer>

<!-- <footer [ngClass]="{'footer': true}"
class="bg-neutral-200 text-center dark:bg-gray-900 border-gray-200 lg:text-left">
<div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
  Copyright © 2023 India Health Link - All Rights Reserved.
</div>
</footer> --> 